
@{
    ViewBag.Title = "Список заказов";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts{
    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
    <link rel="stylesheet" href="http://bootstraptema.ru/plugins/font-awesome/4-4-0/font-awesome.min.css" />
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href="http://demos.creative-tim.com/fresh-bootstrap-table/assets/css/fresh-bootstrap-table.css" rel="stylesheet" />
    <script src="http://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="http://bootstraptema.ru/plugins/2015/b-v3-3-6/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://demos.creative-tim.com/fresh-bootstrap-table/assets/js/bootstrap-table.js"></script>
}

@section table{
    <div class="col?xs?12 col?md?8">
        <div class="fresh-table toolbar-color-blue left">

            @if (ViewBag.Msg == "Произошла ошибка базового поставщика в Open.")
            {
                <h4>Ошибка при загрузке данных с сервера - перезапустите страницу</h4>
            }
            else
            {
                <h4>
                    @ViewBag.Msg
                </h4>
            }

            <table id="fresh-table" class="table">
                <thead>
                <th data-field="id">ID</th>
                <th data-field="subject" data-sortable="true">Название заказа</th>
                <th data-field="salary_full" data-sortable="true">Полная стоимость</th>
                <th data-field="salary_workman" data-sortable="true">ЗП рабочего</th>
                <th data-field="email_client" data-sortable="true">Почта клиента</th>
                <th data-field="email_workman" data-sortable="true">Почта рабочего</th>
                <th data-field="time" data-sortable="true">Сроки</th>
                <th data-field="status" data-sortable="true">Статус заказа</th>
                <th data-field="actions">Действия</th>
                </thead>
                <tbody>
                    @Html.Raw(ViewBag.html)

                </tbody>
            </table>
        </div>

    </div>
}

<script type="text/javascript" src="~/Scripts/Order/GetListOrders/table.js"></script>

