


@{
    ViewBag.Title = "Резульат";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Msg</h2><br /><br />

@{
        <a class="btn btn-primary btn-lg" href="~/Home/Index">На главную страницу</a>
}
