
@{
    ViewBag.Title = "AddQuestion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Добавление вопроса</h2>
<div>
    @using (Html.BeginForm("AddQuestion", "Test", new { id = ViewBag.Id}))
    {
        <script type="text/javascript" src="~/Scripts/Home/Registration/RegistrationValidation.js"></script>

        if (ViewBag.Msg != null)//Если есть сообщение
        {//выводим его
            <b style="color:red">@ViewBag.Msg</b>
            <hr />
        }
        @Html.AntiForgeryToken()
        @Html.ValidationSummary()

        <table>
            <tr>
                <td>Формулирвока вопроса</td>
                <td>
                    <textarea name="quest">Формулировка вопроса</textarea>
                </td>

            </tr>
            <tr name="example">
                <td>1 Вариант ответа &nbsp;</td>
                <td>
                    <textarea name="AnswerChoice">Вариант ответа</textarea>
                </td>
            </tr>
            <tr>
                <td>
                    Правильный вариант ответа
                </td>
                <td>
                    <select name="trueAnswer">
                        <option>1 вариант ответа</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input class="btn btn-success btn-lg" type="submit" value="Добавить вопрос" />
                </td>
            </tr>
        </table>
    }
    <button class="btn btn-warning btn-lg" value="Добавить вариант ответа">Добавить вариант ответа</button>
</div>
@section scripts{
    <script type="text/javascript" src="~/Scripts/Test/EditTest/Add_or_Remve_Test.js"></script>
}
