
@{
    ViewBag.Title = "EditTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Редактирование теста </h2>
    @if (Request.Cookies["User"] != null)//если пользователь авторизован
    {
        <div class="jumbotron">
            <div class="gb-test-page__left test-control">
                <div class="container footer-stick">
                    @ViewBag.Msg
                    @using (Html.BeginForm("EditTest_Successful", "Test", new { id = ViewBag.Id }))//передавем id названия выбранного теста
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()
                        @Html.Raw(ViewBag.html)

                        <hr />
                        <p style="position:relative;">
                            <a href="~/Test/AddQuestion/@ViewBag.Id" class="btn btn-warning btn-lg">Добавить новый вопрос</a>
                        </p>
                        <hr />

                        <div>
                            <input class="btn btn-success" type="submit" value="Сохранить изменения">
                        </div>
                    }
                </div>
            </div>
        </div>
    }
    else
    {
        <h1>Доступ к данной странице имеют только авторизованные пользователи</h1>
    }
