
@{
    ViewBag.Title = "Тесты";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Request.Cookies["User"];
}


<h2>Тесты</h2>
<hr />


<div class="container" style="width:900px">
    @if(ViewBag.Html !=null)
    {
        @Html.Raw(ViewBag.Html)
    }
</div>

