


@{
    ViewBag.Title = "Резульат";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Msg</h2><br /><br />

@{
    if (ViewBag.Msg != "Регистрация пройдена успешно !")//если регистрация не прошла успешно
    {
        <a class="btn btn-primary btn-lg" href="~/Home/Registration">Вернуться на странциу регистрации</a>
    }
    else//при успешной регистрации
    {
        <a class="btn btn-primary btn-lg" href="~/Home/Index">Вернуться на домашнюю страницу</a>
    }
}
