@model MySite.Models.Users
@using MySite.WebService
@{
                ViewBag.Title = "Профиль";
                Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    if (Request.Cookies["User"] != null && Request.Cookies["__sc1_592658302759876"] != null)
    {
<div class="jumbotron" style="background-color:#0ab14b;color:white">
    <div class="row">
        <div class="col-md-4">
            <h2>Мой профиль</h2>
            <div class="card mb-4 box-shadow">
                <br />
                @Html.ActionLink("Редактировать", "Edit", "Profile", null, new { @class = "btn btn-primary btn-lg" })
            </div>
        </div>
    </div>

    <hr />
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <b>Имя</b>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(x => x.Name) <br />
                    <b>Фамилия</b>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(x => x.Surname) <br />
                    <b>Дата рождения</b>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(x => x.DateBirthDay) <br />
                    <b>Email</b>&nbsp;&nbsp;&nbsp;@Html.DisplayFor(x => x.Email)
                    <!--Обновление страницы профиля, добавлена информация: имя, фамиля, дата рождения, о себе-->
                    @Html.ActionLink("Выйти", "Exit", "Profile", null, new { @class = "btn btn-primary btn-lg" })
                </div>
            </div>

        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <b>О себе</b><br />
                @Html.DisplayFor(x => x.AboutOneself)
            </div>
        </div>
        <hr />
    </div>
    @Html.Raw(ViewBag.Html)
    <hr />
    @if (Request.Cookies["User"].Value != "admin@mail.ru")
    {//если пользователь не админ
        <a href="~/Profile/Delete" class="btn btn-danger btn-lg">Удалить аккаунт</a>

    }
    else
    {
        if (VerificationService.isAdmin(Request.Cookies["__sc1_592658302759876"].Value))
        {//если пользователь админ
            <div class="row">
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <h4>Удаление пользователей с указанным Email</h4>
                        @using (Html.BeginForm("DeleteSelected", "Profile", FormMethod.Post))
                        {
                            //сделать отображение поля ля удаления пользователя с указанным email
                            <b>Email</b>

                            <input type="text" name="email" id="email" style="color:black" />
                            <input class="btn btn-danger btn-lg" style="margin-top:20px" type="submit" value="Удалить аккаунт" />
                        }
                    </div>
                </div>
            </div>
        }
    }
</div>
    }
    else
    {
        <h1>Данная страница доступная для авторизованных пользователей</h1>
    }
}

