@model MySite.Models.Users

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Мой профиль</h2>
<hr />
<b>Email</b>@Html.DisplayFor(x => x.Email) &nbsp;&nbsp;&nbsp;
 @{
     if (Request.Cookies["User"] != null)
     {
         <span>@Request.Cookies["User"].Value</span>
     }
         }
     @Html.ActionLink("Выйти", "Exit", "Profile", null, new { @class = "btn btn-primary btn-lg" })
<br/>
<b>Пройденные тесты</b>
<ul>
    <li>
        <i>C# &nbsp;&nbsp;&nbsp;&nbsp;</i>
        <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" style="width:@Model.Sharp%"
               
                 aria-valuemin="0" aria-valuemax="100"></div>
        </div>
    </li>
</ul>

